.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#cat {
  margin-top: 0.3em;
  font-size: 10em;
}

#speech {
  color: black;
}

button {
  background: #0a0;
  color: white;
  border-radius: 0.2em;
  border-width: 0.07em;
  padding: 0.2em 3em;
  font-size: 3em;
}

blockquote {
  background-color: #f8f8f8;
  border: 2px solid #c8c8c8;
  border-radius: 1em;
  height: 1.5em;
  width: 22em;
  text-align: center;
  padding: 20px;
  position: relative;
}

.bottom1 {
  border-color: #c8c8c8 transparent transparent transparent;
  border-width: 13px 13px 0px 13px;
  bottom: -13px;
}

.bottom1:after {
  border-color: #f8f8f8 transparent transparent transparent;
  border-style: solid;
  border-width: 13px 13px 0px 13px;
  bottom: 2.8px;
  content: "";
  position: absolute;
  left: -12.5px;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */